:root {
    --green: rgb(40, 95, 67);
    --background: rgb(255, 252, 247);
    --button-hover: rgb(30, 73, 51);
    --form-margin: 10px;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: none;
    padding-left: 0;
    background-color: var(--background);
}

.tabs-list {
    display: flex;
    width: auto;
    justify-content: center;
    gap: 10px;
}

.tabs-list > * {
    border: 1px solid black;
    padding: 10px;
}

.tabs-list > *:hover {
    /* color: var(--green); */
    border: 1px solid var(--green);
    cursor: pointer;
}

.clicked-tab {
    color: white;
    background-color: var(--green);
}

.menu-div {
    display: grid;
    grid-template-columns: 0.75fr 2fr;
    grid-template-rows: 1fr;
}

.sidebar {
    grid-area: 1 / 1 / 1 / 1;
    background-color: var(--green);
    /* max-width: 200px; */
}

.sidebar li {
    background-color: var(--green);
    color: white;
    padding: 20px;
    font-size: 16px;
    text-transform: capitalize;
    cursor: pointer;
    /* transition: background 250ms ease-in-out, transform 150ms ease; */
}

.sidebar li:hover {
    background-color: var(--button-hover);
}

.active {

}

.menu-list {
    grid-area: 1 / 2 / 1 / 2;
}

.menu-list-item-div {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 0.5fr 1fr 0.5fr;
    border: 1px solid black;
    padding: 5px;
}

.menu-list-item-name {
    grid-area: 1 / 2 / 1 / 2;
}

.menu-list-item-name, .loc-list-item-name {
    color: var(--green);
    font-family: 'Tahoma', sans-serif;
    /* font-weight: bolder; */
    text-transform: uppercase;
}

.menu-list-item-desc {
    grid-area: 2 / 2 / 2 / 2;
}

.menu-list-item-price {
    grid-area: 3 / 2 / 3 / 2;
    color: var(--green);
    font-weight: bold;
}

.menu-list-item-img {
    grid-area: 1 / 1 / 3 / 1;
    padding-right: 10px;
}

.loc-list-item-img {
    height: auto;
    width: 100%;
}

.contact-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-div {
    display: flex;
    flex-direction: column;
    min-width: 400px;
    max-width: 400px;
    border: 1px solid black;
}

.form-div > h1 {
    color: white;
    background-color: var(--green);
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
}

.form-div > label {
    font-weight: bold;
    margin-left: var(--form-margin);
}

.form-div > select, .form-div > input, #comment {
    margin: var(--form-margin);
    margin-bottom: 15px;
    background-color: white;
    border: 1px solid black;
    padding: 5px;
    border-radius: 3px;
}

#comment {
    resize: vertical;
}

.form-div > button {
    color: white;
    background-color: var(--green);
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: var(--form-margin);
    text-decoration: none;
    font-family: sans-serif;
    font-size: 1rem;
    line-height: 1;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, transform 150ms ease;
}

.form-div > button:hover,
.form-div > button:focus {
    background-color: var(--button-hover);
}

.form-div > button:focus,
.active {
    outline: 1px solid white;
    outline-offset: -4px;
}

.form-div > button:active {
    transform: scale(0.99);
}